<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="#{login}">login</title>
    </head>
    <body>
        <div>
            <form th:action="@{/login}" method="post">
                <p th:text="#{login}">login</p>
                <input type="text" name="username" id="username" 
                       th:placeholder="#{username}"  />
                <br/>
                <input type="password" name="password" id="password" placeholder="password"
                       th:placeholder="#{password}" />
                <br/>
                <input type="submit" value="login" th:value="#{login}" />
            </form>
        </div>
    </body>
</html>