<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="#{menu}">menu</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    </head>
    <body class="w3-container w3-pale-blue">
        <div class="w3-card-4">
            <div class="w3-container w3-blue w3-center"><h1 th:text="#{menu}" >menu</h1></div>
            <div class="w3-container w3-white">
                <a class="w3-button w3-hover-red w3-block w3-large" th:href="@{/user/create}" th:text="#{user.create}">user.create</a>
                <a class="w3-button w3-hover-red w3-block w3-large" th:href="@{/user/list}" th:text="#{user.list}">user.list</a>
            </div>
            <div class="w3-container w3-blue"><a class="w3-button w3-hover-red w3-green" th:href="@{/logout}" th:text="#{logout}" >logout</a></div>
        </div>
    </body>
</html>
